@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar {
	background-image: linear-gradient(to right, #ffffff, #fbfbfb);
	padding: 0!important;
}
.navbar-brand img {
	height: 50px;
	padding-left: 20px;
}
.navbar-nav li {
	padding: 0 10px;
}
.navbar-nav li a {
	color: #451132!important;
	font-size: 15px;
	font-weight: 600;
	text-transform: capitalize;
	float: right;
	text-align: left;
}
.navbar-nav li a:hover {
	color: #6f6f6f!important;
}
.fa-bars {
	color: #ffffff;
	font-size: 28px;
}

.navbar-light .navbar-toggler {
	border: none;
}
.navbar-toggler:focus {
	border: none;
	box-shadow: none;
}
.navbar-light a {
	cursor: pointer;
}
.scheduleConsult a {
    margin: 2px;
    font-size: 12px;
    text-align: center;
    padding: 8px 15px 10px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #e20254 0%, #c10047 51%, #b50042 100%);
}
.btn-light {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 30px;
	background: #e00254;
	border-radius: 6px;
	margin-top: 10px;
}
.btn-light:hover {
	color: #ffffff;
	background: #f94386;
	transition: 0.3s;
}

#main-cta-section {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	/* background-color: #4b283f; */
}
.left-background {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 8;
	background-image: url('../img/corner.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
}

/* scroll to top */
.btn.btn-primary.scroll-top {
	display: inline-block;
	background-color: #ffffff!important;
	border-color: #2a2a2a!important;
	z-index: 10;
}
.scroll-top {
	width: 50px;
    height: 50px;
    position: fixed;
    bottom: 25px;
	right: 20px;
	/* border-radius: 50%; */
    display: none;
}
.scroll-top i {
    display: inline-block;
    color: #FFFFFF;
}
.fa-chevron-up:before {
	content: "\f077";
	color: #e20254;
}
.fa-bars {
	color: #e40859;
	font-size: 28px;
}
/* scroll to top  */

/* start banner section */
#banner {
	width: 100%;
	height: 900px;
	background: url('img/main-bg/business-building-dark-bg.jpg') center center no-repeat;
}
#banner header {
	max-width: 800px;
	margin: 115px auto auto auto;
}
#banner .promo-title {
	font-size: 40px;
	font-weight: 600;
	margin-top: 20px;
	color: #4b283f;
	color: #ffffff;
}

#banner .img-bottom {
	/* background: linear-gradient(to right, #a517ba, #5f1782); */
	width: 100%;
	object-fit: cover;
}
#banner .btn-light {
	border-radius: 0px;
}
.call-to-action-header-right img {
	text-align: center;
	max-width: 550px;
	padding: 25px;
}
.call-to-action-description {
	color: #ffffff;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1.5px;
	/* padding-right: 100px; */
}
/* end banner section */

/* Start Process Section */
#banner-process {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 2%;
	padding-left: 5%;
    padding-right: 5%;
	margin-top: 5%;
    margin-bottom: 5%;
}

#banner-process  .process-title {
	font-size: 40px;
	font-weight: 600;
	margin-top: 20px;
	color: #4b283f;
}
#banner-process .process-description {
	padding-right: 20px;
}
#banner-process .img-bottom {
	width: 100%;
	object-fit: cover;
}

#banner-process .process-left img {
	text-align: center;
	max-width: 625px;
	padding: 25px;
}
#banner-process .process-right {
	margin-top: 50px;
}
#banner-process .btn-light {
	border-radius: 0px;
}

/* End Process Section */

#services-main {
	padding: 20px;
	text-align: center;
	background-color: #e00254;
	margin: 22.5px 0 22.5px 0;
    height: auto;
}
#services-main #services-bg {
	content: '';
	background: url('img/gears-marketing-services-bg-v2.jpg') center center no-repeat;
	background-size: contain;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: visible;
    overflow: visible;
    z-index: 0;
    height: 800px;
    width: 100vw;
}
#services-main div.title-section {
	text-align: left;
	margin-top: 25px;
	margin-top: 0;
    margin-bottom: .5rem;
	font-size: 2.5rem;
	font-weight: 500;
    line-height: 1.2;

	color: #ffffff;
}
#services-main .servicesDescription {
	display: inline-block;
    text-align: left;
    max-width: 635px;
	margin-top: 125px;
}
#services-main .servicesDescription h4 {
	color: #ffffff;
	margin-top: 35px;
}
#services-main .servicesDescription p {
	color: #ffffff;
	font-weight: 300;
}
#services-main .btn-primary {
	font-size: 16.5px;
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 10px;
	background: #002f35;
}
#services-main .btn-primary:hover {
	background: #045f6b;
	transition: 0.3s!important;
	/* transition: all .15s ease-in!important; */
}
.services-description {
	color: #4b4b4b;
    font-size: 20px;
    line-height: 27px;
    padding-left: 125px;
    padding-right: 125px;
}
/* about us section  */

/* START Clients -- about our clients section  */
#aboutOurClients div.title-section {
	text-align: center;
	margin-top: 25px;
	margin-top: 0;
    margin-bottom: .5rem;
	font-size: 2.5rem;
	font-weight: 500;
    line-height: 1.2;
}
#aboutOurClients {
	padding: 25px;
	text-align: center;
	margin-top: 20px;
}
.about-title {
	font-size: 35px;
}
.about-section-right img {
	max-width: 505px;
}
#aboutOurClients .about-title {
	text-align: left;
	padding-left: 15px;
}
#aboutOurClients ul {
	text-align: left;
}
#aboutOurClients ul li {
	padding-top: 2px;
}

#aboutOurClients .process-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    color: #4b283f;
}


/* Start Process Section */
#banner-solutions {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
    padding-right: 5%;
	margin-top: 5%;
    margin-bottom: 5%;

	background: #e00254;
}

#banner-solutions .solutions-title {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-top: 20px;
	color: #ffffff;
}
#banner-solutions .solutions-description {
	text-align: center;
	padding-left: 125px;
	padding-right: 125px;
	color: #ffffff;
}
#banner-solutions .img-bottom {
	width: 100%;
	object-fit: cover;
}

#banner-solutions .solutions-left img {
	text-align: center;
	max-width: 625px;
	padding: 25px;
}
#banner-solutions .solutions-right {
	margin-top: 50px;
}
#banner-solutions .btn-light {
	border-radius: 0px;
}
#banner-solutions .solutions-listed {
	margin-top: 50px;
	display: flex;
    justify-content: space-between;
}

#banner-solutions .solutions-listed .topic {
	width: 275px;
	text-align: center;
	color: #ffffff;
	height: 300px;
	font-weight: 900;
	text-transform: uppercase;
}

#banner-solutions .solutions-listed .topic .description {
	margin-top: 45px;
	font-size: 18px;
}
#banner-solutions .solutions-listed .topic .icon-set .fa-gears:before, .fa-cogs:before {
	color: #ffffff;
	font-size: 125px;
}
#banner-solutions .solutions-listed .topic .icon-set .fa-drafting-compass:before {
	color: #ffffff;
	font-size: 125px;
}
#banner-solutions .solutions-listed .topic .icon-set .fa-pencil-ruler:before {
	color: #ffffff;
	font-size: 125px;
}
#banner-solutions .solutions-listed .topic .icon-set .fa-paste:before, .fa-clipboard:before {
	color: #ffffff;
	font-size: 125px;
}
#banner-solutions .solutions-listed .topic .icon-set .fa-shield-alt:before {
    content: "\f3ed";
	font-size: 125px;
}

/* End Process Section */

.section {
    display: block;
}
.site-width, .site-width-wide, .article-width, .site-width-max, .contact-list-container, .sustainability-list-container, .world-map-container {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
}
.brands-wrapper {
    padding: 0;
    max-width: 1300px;
    margin: 0 auto;
}
.brands-img-list .brand-logo-img, .reports-list__img .brand-logo-img {
    max-width: 250px;
    padding: 0 20px;
}

.companyBgTesla {
	background: url('img/client-images/telsa-alt-bg.jpg');
    background-size: cover;
	width: 100%;
    height: 100%;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.companyBgTesla:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.img-background {
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.img-background:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#clientSectionMain .companyBackground {
	cursor: pointer;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
#clientSectionMain .companyBackground:hover {
	transform: scale(1.1);
	transition: transform .2s ease-in-out;
}
.brands-img-list .brand-logo, .reports-list__img .brand-logo {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.brands-img-list, .reports-list__img {
    list-style: none;
    margin: 0 -1px;
    padding: 0;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}
.brands-img-list li .brand-link, .reports-list__img li .brand-link {
    position: absolute;
    bottom: 12px;
    left: 20px;
    text-align: left;
}
.brands-img-list li .brand-link a, .reports-list__img li .brand-link a {
    display: block;
    color: #fff;
    font-weight: 700;
    padding-right: 23px;
    background-image: url(../img/arrow-white.svg);
    background-position: right center;
    background-size: 16px 100%;
    background-repeat: no-repeat;
    -webkit-flex-direction: column;
    flex-direction: column;
    word-break: break-all;
}
.brands-img-list li, .reports-list__img li {
    width: calc(50% - 2px);
    margin: 0 1px 1px;
    float: left;
    flex: 0 0 auto;
    position: relative;
    display: inline-block;
    z-index: 0;
    overflow: hidden;
}
section img, embed, object, video, iframe {
    max-width: 100%;
}
section video, img {
    height: auto;
}

@media only screen and (min-width: 1200px) {
	.brands-img-list li {
		width: calc(25% - 2px);
	}
}





/* END Clients -- about our clients section */





/* testimonials  */

#testimonials div.title-section {
	text-align: center;
	margin-top: 25px;
	text-transform: capitalize;
	margin-top: 0;
    margin-bottom: .5rem;
	font-size: 2.5rem;
	font-weight: 500;
    line-height: 1.2;
}
#testimonials {
	padding: 25px;
	text-align: center;
}
#testimonials div.title-section::before {
	content: '';
	background: #00bdd5;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}
#testimonials div.title-section::after {
	content: '';
	background: #00bdd5;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}
.testimonials-title {
	font-size: 35px;
}
#testimonials {
	margin-top: 10px;
	/* margin: 25px 0; */
}
.testimonials {
	text-align: left;
	border-left: 2px solid #00bdd5;
	margin-top: 50px;
	margin-bottom: 50px;
}

.testimonials p {
	font-size: 12px;
    margin-top: 4px;
}

.testimonials img { 
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 0;
}
/* social media section  */
#socialmedia {
	background: #f8f9fa;
	padding: 100px 0;
}
#socialmedia p {
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 40px;
}
.social-icons img {
	width: 100%;
    max-width: 75px;
}
.social-icons a:hover img {
	transform: translateY(-10px);
	transition: 1s;
}

/* --------------- Start footer section ---------------  */
#footer {
	position: relative;
	overflow: hidden;
	/* background: url('img/footer-wave-background-top-purple-large.png')bottom center no-repeat; */
	background: #1a1a1a;
    width: 100%;
	height: auto;
    /* height: 550px; */
	background-size: cover;
	color: #ffffff;
}
.footer-img {
	width: 100%;
}
.footer-box {
	padding: 20px;
}
.footer-box.footer-description {
	margin-top: 28px;
}
.footer-box p {
	padding-right: 30px;
}
.footer-box img {
	width: 120px;
    margin-bottom: 35px;
}
.container.footer-margin-top {
	margin-top: 25px;
}
.footer-box .form-control {
	box-shadow: none!important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;
}
.footer-box .btn-primary {
	box-shadow: none!important;
	border: none;
	font-weight: 700;
	border-radius: 0;
	margin-top: 25px;
	color: #013035;
	background: #ffffff;
	border: 2px solid #ffffff;
	padding: 8px 15px;
}
.footer-box .btn-primary:hover {
	background: #013035;
	border: 2px solid #ffffff;
	color: #dcdcdc;
	transition: 2s;
}
.copyright {
	font-size: 11px;
	margin-top: 15px;
}

/* --------------- End footer section ---------------  */

/* --------------- special support media queries ---------------  */
@media (max-width:1275px) {
	#banner-support {
		height: 100%;
	}
	#banner-support .call-to-action-header-right img {
		width: 100%;
	}
}
/* --------------- special support media queries ---------------  */

@media (max-width: 1125px) {
	#banner-solutions .solutions-listed .topic .description {
		font-size: 13px;
	}
	#banner-solutions .solutions-listed .topic {
		width: 25%;
	}
	#banner-solutions .solutions-listed .topic .icon-set .fa-gears:before, .fa-cogs:before {
		color: #ffffff;
		font-size: 75px;
	}
	#banner-solutions .solutions-listed .topic .icon-set .fa-drafting-compass:before {
		color: #ffffff;
		font-size: 75px;
	}
	#banner-solutions .solutions-listed .topic .icon-set .fa-pencil-ruler:before {
		color: #ffffff;
		font-size: 75px;
	}
	#banner-solutions .solutions-listed .topic .icon-set .fa-paste:before, .fa-clipboard:before {
		color: #ffffff;
		font-size: 75px;
	}
	#banner-solutions .solutions-listed .topic .icon-set .fa-shield-alt:before {
		content: "\f3ed";
		font-size: 75px;
	}
}

@media (max-width: 1000px) {
	#services-main #services-bg {
		background: none;
	}
}


/* --------------- media queries ---------------  */
@media (max-width:768px) {
	#banner-support {
		height: 100%;
	}
	#banner-solutions .solutions-title {
		font-size: 32px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#banner-solutions .solutions-listed {
		display: flex;
		flex: auto;
		align-content: stretch;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
	}
	#banner-solutions .solutions-listed .topic {
		height: 255px;
	}
	#banner-solutions .solutions-description {
		padding-left: 115px;
		padding-right: 115px;
	}
}
@media (max-width:768px) {
	#banner {
		height: 100%;
		background-size: 85% 85%;
	}
	#services-main div.title-section {
		font-size: 1.8rem;
	}
	#services-main div.title-section::before {
		transform: translateY(84px);
	}
	.services-description {
		font-size: 16.5px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.call-to-action-header-right img {
		max-width: 100%;
	}
	.call-to-action-description {
		font-size: 13.5px;
	}
	.promo-title {
		font-size: 35px;
	}
	#banner-support .call-to-action-header-right img {
		max-width: 100%;
	}
	.about-section-right img {
		max-width: 100%;
	}
	#about-us div.title-section {
		font-size: 1.8rem;
	}
	#about-us div.title-section::before {
		transform: translateY(83px);
	}
	#about-us .about-title {
		font-size: 24px;
	}
	#about-us ul {
		text-align: left;
		font-size: 11.5px;
		margin-bottom: 30px;
	}
	#testimonials div.title-section {
		font-size: 1.8rem;
	}
	#testimonials div.title-section::before {
		transform: translateY(50px);

	}
	#socialmedia p {
		font-size: 20px;
	}
	#footer {
		overflow: auto!important;
		height: 100%;
	}
}
@media (max-width:425px) {
	#banner header {
		margin: 70px auto auto auto;
	}
	#banner .promo-title {
		font-size: 18px;
		line-height: 1.75;
		padding: 0 15px 0 15px;
	}
	#services-main {
		padding: 2px;
	}
	#services-main #services-bg {
		height: 550px;
	}
	#services-main .servicesDescription p {
		font-size: 10px;
		padding-right: 25px;
	}
	#services-main .servicesDescription {
		margin-top: 10px;
	}
	.call-to-action-description {
		font-size: 9.5px;
		font-weight: 900;
		letter-spacing: 1px;
	}
	.btn-light {
		font-size: 14px;
	}
	#banner-process .process-left img {
		max-width: 325px;
	}
	#aboutOurClients .process-title {
		font-size: 30px;
	}
	#about-us div.title-section::before {
		transform: translateY(83px);
	}
	#aboutOurClients .process-title {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#banner-solutions .solutions-title {
		font-size: 22px;
		margin-bottom: 30px;
	}
	#banner-solutions .solutions-description {
		padding-left: 50px;
		padding-right: 50px;
	}
}
/* --------------- media queries ---------------  */
